@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage {
    background-image: url('../public/bbblurryDark.svg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    opacity: 0.8;

}