@tailwind base;
@tailwind components;
@tailwind utilities;

.bgImage {
    background-image: url('../public/space.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
}

